---
layout: "base.njk"
---
<section>
    {{content | safe }}
</section>
<table>
{% for game in gctable %}
    {% if loop.first %}
        <thead>
            <th>{{game.gameimage}}</th>
            <th>{{game.gametitle}}</th>
            <th>{{game.gamedate}}</th>
            <th>{{game.gamedesc}}</th>
            <th>{{game.gameplatform}}</th>
        </thead>
    {% else %}
        <tr>
            <td>
                <a>
                     <a href= "{{game.gameimage}}" target="_blank">
                      <img class=gameimage src="{{game.gameimage}}">
                </a>
            </td>
            <td>{{game.gametitle}}</td>
            <td>{{game.gamedate}}</td>
            <td>{{game.gamedesc}}</td>
            <td>{{game.gameplatform}}</td>
        </tr>
    {% endif %}
{% endfor %}
</table>
