---
layout: "base.njk"
---
<section>
    {{content | safe }}
</section>
    <hr>
    <article>
        {% for post in collections.gamelist %}
            <section>
            <h2>{{ post.data.title }}</h2>
            {{ post.templateContent | safe }}
            <br>
            {{ post.date | postDate }}
            </section>
        {% endfor %}
    </article>