---
layout: "base.njk"
---
<section>
    {{content | safe }}
</section>
    <hr>
    <article class="grid-test">
        {% for post in collections.nowplaying %}
            <section>
            <h2> <a href="{{ post.data.link }}" target="_blank">{{post.data.title}}</a></h2>
            {# {{ post.templateContent | safe }} #}
            <br>
            {{ post.date | postDate }}
            </section>
        {% endfor %}
    </article>