---
layout: "base.njk"
---
<section>
    {{content | safe }}
</section>
    <hr>
    <article>
        {% for post in collections.nowplaying %}
            <section>
            <h2>{{ post.data.title }}</h2>
            {{ post.templateContent | safe }}
            </section>
        {% endfor %}
    <hr>
    </article>
