<ul class="nav">
    <li class="dropdown">
        <a href="/" >Home</a>
    </li>
    <li class="dropdown">
        <a href="/games/" >Games</a>
            <div class="dropdown-content">
                <a href="/games/now-playing/" >Now Playing</a>
                <a href="/games/upcoming-games/" >Watch List </a>
                <a href="/games/game-collection/" >Games Collection </a>
            </div>
    </li>
    <li class="dropdown">
        <a href="/site/">Un-Homed</a>
            <div class="dropdown-content">
                <a href="/site/links/">Links</a>
                <a href="/site/update/">Update Log</a>
            </div>
    </li>
</ul>