body {
    font-family: sans-serif;
}

ul.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f84f4f;
	color: black;
	text-align: center;
	line-height: 1em;
}